<%include ./partials/header %>
					
				<div class="wrapper">
					<div id="btn-container">
						<a href="/"><button class="seed-btn">Random Images</button></a>
						<a href="/artificial%20intelligence"><button class="seed-btn">A.I.</button></a>
						<a href="/cooking"><button class="seed-btn">Cooking</button></a>
						<a href="/humor"><button class="seed-btn">Humor</button></a>
						<a href="/martial%20arts"><button class="seed-btn">Martial Arts</button></a>
						<a href="/nutrition"><button class="seed-btn">Nutrition</button></a>
						<a href="/pets"><button class="seed-btn">Pets</button></a>
						<a href="/philosophy"><button class="seed-btn">Philosophy</button></a>
						<a href="/photography"><button class="seed-btn">photography</button></a>
						<a href="/programming"><button class="seed-btn">Programming</button></a>
						<a href="/science"><button class="seed-btn">Science</button></a>
						<a href="/sports"><button class="seed-btn">Sports</button></a>
					</div>

					

					<div class="grid">

					  <div class="grid-sizer"></div>
					  
					  	<% images.forEach((image, i) => { %>
							<div class="grid-item">
						  	<a href="#"> <img class="grid-image" id="" src=<%=image.link %> /> </a>
						  		<p>uploaded by: user </p>
						  		<% if(image.title !== null) { %>
						  			<p>Title: <%=image.title %> <%=image.user %> </p>
							  	<% }else { %>
							  		<p>Title: none</p>
							  <% } %>
						  		
						  		<% if(image.description !== null) { %>
						  		<p>Description: <%=image.description.substring(0, 50) %> </p>
							  		<% }else { %>
							  		<p>Description: none</p>
							  <% } %>

							  	<% if(user) { %>
							  		<button class="save-btn"><a href="/selection/<%=user._id %>">Save Image</a></button>
							  <%}else {%>
							  		<button></button>
							  <%}%>
						  		<!-- <button class="save-btn"><a href="/selection/link=<img class="" id="" src=<%=image.link %>">Save Image</a></button> -->
						  		<button class="del-seed">X</button>
						  	</div>
						<% }); %>
					</div> <!-- .grid -->
				</div> <!-- .wrapper -->

				<div class="footer-container">
					<!-- <div class="spacer"></div> -->

<%include ./partials/footer %>