<%include ./partials/header %>
				<div class="container">
<%include ./partials/imageCategories %>
	
					<div class="search">
						<form class="img-search" action="/" method="GET">
							<label for="image-search">Search Imgur</label>
							<input id="image-search" type="search" name="imageSearch" placeholder="Search">
							<input type="submit" class="button" value="submit"></input>
						</form>
					</div>

				

					<div class="grid">
					  <div class="grid-sizer"></div>
					  	<% images.forEach((image, i) => { %>
							<div class="grid-item">
							  	<img class="grid-image" id="" src=<%=image.url %> />
							  		<p class="wordbreak">uploaded by: <%=image.postedBy %> </p>
							  		<% if(image.title !== null) { %>
							  			<p class="wordbreak">Title: <%=image.title %> </p>
								  <%}else { %>

								  <%}%>
							  		
							  		<% if(image.description !== null) { %>
							  		<div class="wordbreak"><p>Description: <%=image.description.substring(0, 50) %> </p></div>
								  		<% }else { %>
								  		<p class="wordbreak">Description: Let yourself be transported...</p>
								  <%}%>

								  	<% if(user) { %>
								  		<button class="save-btn"><a class="save-clr" href="/dashboard/<%=user._id %>/index=<%=i %>&save=false">Save</a></button>
								  <%}else {%>
								  		
								  <%}%>
							  		<button class="del-seed">X</button>
						  	</div>
						<% }); %>
					</div> <!-- .grid -->

				</div>
				<div class="footer-container">
					
<%include ./partials/footer %>